* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Login page style */

.spinner {
  display: none;
  border: 10px solid #f5f5f5;
  border-radius: 50%;
  border-top: 10px solid #6e3b3b;
  width: 50px;
  height: 50px;
  position: fixed;
  -webkit-animation: spin 1s linear infinite;
}

.spinner-active {
  display: block;
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2f3f4; */
  background-color: #6e3b3b;
  overflow: hidden;
}

#auth-cont {
  display: flex;
  margin: auto;
  margin-top: 25vh;
  width: 500px;
  height: auto;
  background-color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 3px 9px #727070;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-ipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

h1 {
  padding-top: 5px;
  text-align: center;
}

input[type='text'],
input[type='password'] {
  background-color: lightgray;
  border: lightgray;
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  padding: 10px;
  margin: 8px 0px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 25px;
}

#ipt-username {
  margin-top: 10vh;
}

button {
  background-color: #6e3b3b;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 50%;
}

#login {
  margin-top: 1em;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.register-ipt {
  overflow: hidden;
  transition: 300ms ease-in;
  opacity: 0;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
  height: 10px;
}

#register {
  margin-top: 2vh;
}

.register-ipt,
input {
  border: transparent;
}

#rgt-name {
  margin-top: 0vh;
}

.register-ipt.active {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  opacity: 1;
  height: auto;
}

.buttons {
  width: 100%;
}

#close-register {
  width: 25px;
  padding: 0px;
  margin-left: 90%;
  height: 25px;
  font-size: 1.2rem;
  background-color: transparent;
  color: #6e3b3b;
  border: 1px solid #6e3b3b;
}
/* Main Page Styling */
.main-body {
  background-color: #f5f5f5;
  overflow: hidden;
}

.loading {
  z-index: 10;
  display: none;
  border: 16px solid #f5f5f5;
  border-radius: 50%;
  border-top: 16px solid #6e3b3b;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  width: 120px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.loading-active {
  display: block;
}

.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  min-height: 100px;
  background-color: #6e3b3b;
  justify-content: flex-end;
  padding: 10px;
}

.header button {
  margin: 1rem;
  font-size: 1rem;
  width: auto;
  font-weight: bold;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.header button:hover {
  background-color: #f3cf7a;
  color: #6e3b3b;
  font-weight: bold;
}

.single-meal {
  opacity: 0;
  display: none;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 90vh;
  margin: auto;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.single-meal.active {
  display: block;
  opacity: 1;
}

.meal-header {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
}

.meal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meal-btn {
  display: flex;
  width: 50%;
  padding-bottom: 10px;
}

.main ul {
  list-style: none;
}

.close-meal-btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close-meal-btn:hover {
  background-color: #f2f3f4;
  color: black;
}

.add-recipe-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 80%;
  height: auto;
  margin: auto;
  background-color: grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.add-recipe-container.active {
  transform: translate(-50%, -50%) scale(1);
}

.add-recipe-container input {
  width: 25%;
}

.recipe-header {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #f2f3f4;
  color: black;
}

.recipe-form {
  padding: 20px;
}
.recipe {
  width: 50vw;
}

.content {
  display: flex;
  width: 100vw;
  height: 100%;
  padding: 5px;
}

/* Media Queries */
@media (max-height: 750px) {
  #auth-cont {
    margin: auto;
    margin-top: 15vh;
    width: 500px;
    height: auto;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 3px 3px 9px #727070;
    border-radius: 25px;
  }
}
