/*  Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  --primary-color: #004d40;
  --secondary-color: #4d0f00;
  --secondary-light-color: #7e3033;
  --dark-background: #121212;
  --breakfast-color: #ffca28;
  --lunch-color: #66bb6a;
  --dinner-color: #5c6bc0;
  --dessert-color: #607d8b;
  --snack-color: #8d6e63;
}
.breakfast-color {
  color: var(--breakfast-color);
  padding: 5px;
}
.lunch-color {
  color: var(--lunch-color);
  padding: 5px;
}
.dinner-color {
  color: var(--dinner-color);
  padding: 5px;
}
.dessert-color {
  color: var(--dessert-color);
  padding: 5px;
}
.snack-color {
  color: var(--snack-color);
  padding: 5px;
}

.theme-light {
  color: var(--light-text);
  background-color: #ffffff;
}
.theme-dark {
  color: var(--dark-text);
  background-color: var(--dark-background);
}
button {
  background-color: transparent;
  color: white;
  padding: 12px 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 50%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

button:hover {
  color: #39796b;
  font-weight: bold;
}

/* Login page style */

.spinner {
  display: none;
  border: 20px solid #eeeeee;
  border-radius: 50%;
  border-top: 20px solid var(--primary-color);
  width: 100px;
  height: 100px;
  position: fixed;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.spinner-active {
  display: block;
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2f3f4; */
  background-color: var(--primary-color);
  overflow: hidden;
}

#auth-cont {
  display: flex;
  margin: auto;
  margin-top: 20vh;
  width: 500px;
  height: auto;
  background-color: #f5f5f5;
  padding: 5px;
  box-shadow: 3px 3px 9px #727070;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-ipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

h1 {
  margin-top: 25px;
  color: var(--dark-background);
  padding: 5px;
  text-align: center;
}

input[type='text'],
input[type='password'] {
  background-color: lightgray;
  border: lightgray;
  font-size: 1rem;
  width: 100%;
  height: 2rem;
  padding: 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-radius: 25px;
}

#ipt-username {
  margin-top: 5vh;
}

#login {
  margin-top: 1em;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.register-ipt {
  overflow: hidden;
  transition: 300ms ease-in;
  opacity: 0;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
  height: 10px;
}
.login-btn {
  color: var(--primary-color);
  font-weight: bold;
}
.login-btn:hover {
  box-shadow: 3px 5px 9px #e7e7e7;
  border: 1px solid #e7e7e7;
}
.register-btn {
  color: var(--primary-color);
  font-weight: bold;
}
.register-btn:hover {
  box-shadow: 3px 5px 9px #e7e7e7;
  border: 1px solid #e7e7e7;
}
#register {
  margin-top: 2vh;
}

.register-ipt,
input {
  border: transparent;
}

#rgt-name {
  margin-top: 0vh;
}

.register-ipt.active {
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  opacity: 1;
  height: auto;
}

.buttons {
  width: 100%;
}

#close-register {
  width: 25px;
  text-align: center;
  padding: 0;
  overflow: hidden;
  margin-left: 90%;
  height: 22px;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 25px;
}
#close-register:hover {
  box-shadow: 3px 5px 9px #e7e7e7;
  border: 1px solid #e7e7e7;
}
.remember-dets {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remember-dets input {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.remember-dets p {
  font-size: 1rem;
}

/* Main Page Styling */
.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}
.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.loading {
  z-index: 10;
  display: none;
  border: 16px solid #f5f5f5;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  height: 100px;
  width: 100px;
  margin: 20% auto;
}

.loading-active {
  display: block;
}

.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  min-height: 50px;
  justify-content: flex-end;
  padding: 10px;
  /* z-index: 1; */
}
.header-light {
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}
.header-dark {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 0, 0);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
.header button {
  margin: 1rem;
  width: auto;
  font-weight: bold;
  overflow: hidden;
  background-color: transparent;
}
.button-light {
  color: #fff;
}
.button-dark {
  color: #fff;
}
.meals {
  width: 45%;
}

.single-meal {
  background-color: #ffffff;
  opacity: 0;
  display: none;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  width: 50vw;
  /* height: 100vh; */
  min-height: auto;
  margin: auto;
  margin-top: 0;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  border-radius: 50px;
  padding-bottom: 10px;
}
.single-meal-light {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.87);
}
.single-meal-dark {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 0, 0);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.87);
}
.single-meal.active {
  display: block;
  opacity: 1;
  z-index: 2;
}
.main {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
}
.recipe-time-serves {
  padding: 10px;
  font-style: italic;
}

.meal-header {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
}

.meal-title {
  font-size: 2rem;
  font-weight: bold;
  /* color: var(--primary-color);
  color: rgba(255, 255, 255, 0.87); */
}

.single-meal-category {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
.single-meal-types {
  height: 30px;
  padding: 1px;
}
.vegan-card {
  border: 1px solid #42c478;
  background-color: #42c478;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-top: 5px;
  /* width: 100px;
  height: 50px; */
}

.gluten-card {
  border: 1px solid #be6a15;
  background-color: #be6a15;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  color: white;
}

.meal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.meal-btn {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-bottom: 10px;
}

.ingregients {
  width: 100%;
  border-bottom: 1px solid #727070;
  text-align: center;
  color: var(--secondary-light-color);
}

.directions {
  width: 100%;
  border-bottom: 1px solid #727070;
  text-align: center;
  color: var(--secondary-light-color);
}

.notes {
  width: 100%;
  text-align: center;
  color: var(--secondary-light-color);
}

.main ul {
  list-style: none;
  text-align: center;
}

.close-meal-btn {
  width: 40px;
  height: 40px;
  padding: 0px;
  background: none;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.close-meal-btn:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}
.recipe-form-container {
  position: absolute;
  width: 100vw;
  height: 110vh;
  pointer-events: none;
  z-index: 100;
}
.add-recipe-container {
  overflow: hidden;
  opacity: 0;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.add-recipe-container input {
  background-color: transparent;
  border-radius: 0px;
}
.add-recipe-light {
  color: #000;
  background-color: #fff;
}
.add-recipe-light input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.add-recipe-light select {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.add-recipe-light textarea {
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.add-recipe-dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-background);
}
.add-recipe-dark h1 {
  color: #fff;
}
.add-recipe-dark input {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.add-recipe-dark select {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.add-recipe-dark textarea {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.add-recipe-container.active {
  opacity: 1;
  pointer-events: all;
}

.add-recipe-container input {
  width: 25%;
}

.recipe-header {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  width: 40px;
  height: 40px;
  background: none;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0;
  margin-right: 50px;
}

.close-btn:hover {
  background-color: #f2f3f4;
  color: var(--primary-color);
}

#createRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-half {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 3px 10px 9px rgba(0, 0, 0, 0.25);
}
.form-left-half {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.form-right-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 50px;
}
#title {
  width: 98%;
}
#prepTime {
  width: 98%;
}
#category {
  width: 98%;
  height: 30px;
  margin: 10px 0px;
  background-color: transparent;
}
#directions {
  font-size: 12px;
  width: 98%;
  background-color: transparent;
  margin: 10px 0px;
}
#notes {
  font-size: 12px;
  width: 98%;
  background-color: transparent;
  margin: 10px 0px;
}
.check-boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.check-box-vegan {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.check-box-gluten {
  display: flex;
  flex-direction: row;
  width: 50%;
}
#image {
  width: 100%;
  padding: 5px;
}
#ingredientCont {
  width: 100%;
}
.ingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ingContainer input {
  width: 45%;
}
.ingredient-btn {
  display: flex;
  flex-direction: row;
}
.addIngredientIpt {
  width: 70px;
  padding: 2px;
  font-size: 1.5rem;
}
.removeIngredientIpt {
  width: 70px;
  padding: 2px;
  font-size: 1.5rem;
}
.form-btns {
  margin: auto;
  display: flex;
  align-items: center;
}
.form-btns button {
  width: 150px;
  margin: 5px;
  color: var(--primary-color);
  font-weight: bold;
}
.ingredient-btn button {
  color: var(--primary-color);
}
.bottom-half {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.recipe {
  margin: 5px;
  font-size: 1rem;
  width: 40vw;
  height: 6vh;
  min-height: 40px;
  /* border: 1px solid var(--primary-color);
  background-color: var(--primary-color); */
  /* border-bottom: none; */
  border-radius: 25px;
  padding: 7px 15px;
  cursor: pointer;
  overflow: hidden;
}
.recipe-light {
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.87);
}
.recipe-light:hover {
  background-color: rgb(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}
.recipe-dark {
  background-color: rgba(255, 255, 255, 0.05);
  /* border: 1px solid rgba(0, 0, 0); */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.87);
}
.recipe-dark:hover {
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.09);
}
.breakfast-outline {
  border: 3px solid var(--breakfast-color);
}
.lunch-outline {
  border: 3px solid var(--lunch-color);
}
.dinner-outline {
  border: 3px solid var(--dinner-color);
}
.dessert-outline {
  border: 3px solid var(--dessert-color);
}
.snack-outline {
  border: 3px solid var(--snack-color);
}
.empty-recipe {
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 20vh;
  /* border: 1px solid rgb(156, 156, 156); */
  /* background-color: #5b975e93; */
  border-radius: 25px;
  box-shadow: 3px 3px 9px #727070;
  display: flex;
  align-items: center;
  justify-items: center;
}

.emptyRecipes {
  margin: auto;
  font-style: italic;
  color: var(--primary-color);
  font-size: 2rem;
}

.page-buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.page-buttons button {
  color: var(--primary-color);
  font-weight: bold;
}
#page-next {
  width: 150px;
  margin-right: 10px;
}

#page-prev {
  width: 150px;
}

.content {
  display: flex;
  width: 100vw;
  height: 100%;
  padding: 5px;
}

#edit-recipe {
  width: 5vw;
  min-width: 50px;
  color: var(--primary-color);
  font-weight: bold;
}
#edit-recipe:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}

#delete-recipe {
  width: 5vw;
  min-width: 70px;
  color: var(--primary-color);
  font-weight: bold;
}
#delete-recipe:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}

/* Planner Styling */
@keyframes openModal {
  0% {
    opacity: 0;
  }
  /* 50% {
    opacity: 1;
  } */
  100% {
    opacity: 1;
  }
}
@keyframes closeModal {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 1;
  } */
  100% {
    opacity: 0;
  }
}

.dropdown {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
}
.dropdown-content {
  background-color: #f2f3f4;
  border: 2px solid var(--secondary-color);
  color: #392f2f;
  margin: 1% auto;
  width: 25%;
  height: 5%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.delete-modal {
  position: fixed;
  z-index: 2;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: auto;
  opacity: 0;
  display: none;
}
.delete-modal-content {
  pointer-events: auto;
  background-color: #f2f3f4;
  border: 2px solid var(--secondary-color);
  color: #392f2f;
  margin: 20% auto;
  width: 25%;
  height: 25%;
  padding: 2% 0%;
  font-size: 2rem;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.delete-modal-content p {
  padding-bottom: 10px;
}
.delete-modal-content button {
  color: var(--secondary-color);
  font-weight: bold;
}
.delete-modal-content button:hover {
  font-size: 1.3rem;
  background-color: var(--secondary-light-color);
  color: #fff;
}
.delete {
  font-size: 1.2rem;
  padding: 5px;
  width: 120px;
  height: 40px;
}
.dropdown-active {
  display: block;
  animation-name: openModal;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
}
.dropdown-not-active {
  animation-name: closeModal;
  animation-duration: 1200ms;
  animation-fill-mode: backwards;
}

.planner-name-hd h1 {
  font-style: italic;
  padding: 5px;
  text-align: left;
  width: 200px;
}

.table-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
}

.table-info :first-child {
  margin-right: auto;
}

.planner-info {
  display: flex;
  align-items: center;
}

.planner-info h3 {
  min-width: 140px;
  width: auto;
  font-style: italic;
  font-weight: normal;
  padding-right: 5px;
}
.planner-btn {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}
.planner-btn button {
  margin: 5px;
}

.planner-content {
  margin: 0;
  height: auto;
}
#search-input {
  background-color: #f5f5f5;
  margin-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}
.select {
  width: 250px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 1rem;
}
.select:disabled {
  cursor: not-allowed;
}
.planner-name {
  display: none;
}
#planner-name {
  margin: 5px;
  width: 20%;
  min-width: 200px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
}

.table input {
  height: 20px;
  width: 170px;
  font-size: 1rem;
  background-color: #f5f5f5;
}
table {
  border-collapse: collapse;
  /* margin-left: 0px; */
}

/* table,
th,
td {
} */

td {
  padding: 10px;
  border-right: 1px solid #403f3f;
  background-color: #f5f5f5;
}
td:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

th:first-child,
td:first-child {
  width: 10vw;
  font-weight: bold;
  font-size: 1.3rem;
  border-right: 1px solid #403f3f;
  cursor: text;
}
td:first-child:hover {
  background-color: #f5f5f5;
}
th:last-child {
  border-right: 1px solid #403f3f;
}

th {
  color: rgb(235, 235, 235);
  background-color: #403f3f;
  font-size: 1.3rem;
  padding: 5px 0px;
}

.planner-meal {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 10px;
}

.planner-meal-card {
  /* background-color: #e0e0e0; */
  width: 95%;
  margin-top: 10px;
  max-width: 1000px;
  min-height: 50vh;
  height: auto;
  border-radius: 25px;
  border: 1px solid #392f2f;
  box-shadow: 5px 5px 9px #392f2f;
  background-color: #f5f5f5;
  padding: 1px 15px;
  display: none;
}

.planner-meal-btn {
  width: 100%;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.edit-active {
  display: none;
}
.add-planner {
  width: 5vw;
  min-width: 50px;
  color: var(--primary-color);
  font-weight: bold;
}
.add-planner:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}
#add-planner {
  margin-right: 5px;
}
.cancel {
  width: 5vw;
  min-width: 50px;
  margin: 0px 5px;
  color: var(--primary-color);
  font-weight: bold;
  display: block;
}
.cancel:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}
#save-edit {
  width: 5vw;
  min-width: 50px;
  color: var(--primary-color);
  font-weight: bold;
}
.no-active {
  display: none;
}
#save-edit:hover {
  background-color: var(--primary-color);
  color: #f5f5f5;
}

.planner-meal-title {
  position: relative;
  top: 0%;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}
.planner-meal-category {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--secondary-color);
}
.planner-meal-serves {
  font-size: 1.2rem;
  font-style: italic;
}
.planner-meal-types {
  padding: 10px 0px;
}
.info-block {
  display: flex;
}
.planner-meal-ingredients {
  width: 30%;
  /* padding-right: 5px; */
}
.planner-meal-ingredients h2 {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}
.planner-meal-ingredients ul {
  padding-top: 5px;
  line-height: 1.5rem;
}
.planner-meal-directions {
  padding-left: 20px;
  width: 45%;
}
.planner-meal-directions p {
  padding-top: 5px;
  line-height: 1.5rem;
}
.planner-meal-directions h2 {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}
.planner-meal-notes {
  width: 70%;
}
.planner-meal-notes p {
  width: 100%;
}

#match-list {
  background: #f5f5f5;
  height: auto;
  width: 30vw;
  margin: auto;
}

.match-results {
  border-bottom: 1px solid #727070;
  cursor: pointer;
  padding: 5px;
}
.match-results:hover {
  background-color: var(--primary-color);
}
.planner-active {
  display: block;
}
@media only screen and (max-width: 600px) {
  .main-body {
    overflow: hidden;
    height: 100vh;
    padding-bottom: 10vh;
  }
  .dropdown-content {
    width: 100%;
    height: 8%;
    padding: 15px;
    font-size: 1.3rem;
  }
  .empty-recipe {
    width: auto;
    margin: 5px;
    height: 100px;
  }
  .empty-recipe h3 {
    color: #f2f3f4;
  }
  .loading {
    margin: 50% auto;
  }
  .header {
    height: 10vh;
    bottom: 0;
    position: fixed;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
    z-index: 10;
    box-shadow: 0;
    border: 0;
    /* display: none; */
    /* background-color: #e7e7e7; */
  }
  .header-dark {
    background-color: var(--dark-background);
  }
  .header-light {
    box-shadow: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--primary-color);
  }

  .header button {
    font-size: 1.2rem;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-weight: normal;
  }

  .content {
    padding: 0;
    display: block;
    /* height: 92vh; */
  }
  .meals {
    position: relative;
    top: 0;
    margin: 0;
    /* margin-top: 10vh; */
    padding: 5px;
    overflow-y: scroll;
    height: 99%;
    width: 100vw;
  }
  .recipe {
    border-radius: 5px;
    margin: 5px 0px;
    width: auto;
    font-weight: normal;
  }
  .single-meal {
    display: block;
    width: 100%;
    height: 92vh;
    padding-top: 5vh;
    padding-bottom: 15px;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    pointer-events: none;
    overflow-y: scroll;
    box-shadow: 0;
    border: 1px solid #e7e7e7;
  }
  .single-meal.active {
    pointer-events: all;
  }
  .single-meal-dark {
    background-color: var(--dark-background);
    border: 1px solid var(--dark-background);
  }
  .meal-header {
    border: 0;
    padding: 0;
    height: 5vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .meal-btn {
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  .meal-btn button {
    background-color: transparent;
    color: var(--primary-color);
  }
  #edit-recipe {
    background-color: transparent;
  }
  #delete-recipe {
    background-color: transparent;
  }
  .meal-title {
    background-color: rgba(255, 255, 255, 0.11);
    /* margin-top: 5px; */
  }
  .meal-body {
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: rgba(255, 255, 255, 0.11);
  }
  .recipe-time-serves {
    /* color: var(--dark-text); */
  }
  .main {
    width: 90vw;
    margin: 0;
    /* color: var(--dark-text); */
  }
  .main h2 {
    font-size: 1.5rem;
  }
  .close-meal-btn {
    color: white;
  }
  .recipe {
    padding-left: 0;
    width: 100%;
    height: 10vh;
  }
  .page-buttons {
    padding: 0;
    padding-bottom: 10px;
  }
  .page-buttons button {
    border-radius: 5px;
  }

  /* Add/Edit recipe container */
  .recipe-form-container {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .add-recipe-container {
    position: relative;
    margin: 0;
    max-width: none;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
  .recipe-header {
    overflow: hidden;
    padding: 0;
    height: 10vh;
  }
  .recipe-header h1 {
    padding-top: 10px;
    font-size: 1.4rem;
    margin: 0;
  }
  .close-btn {
    margin-right: 0;
  }
  .recipe-form {
    padding: 2px;
    /* border: 2px solid rgba(0, 0, 0, 0.05); */
    box-shadow: 1px -5px 3px rgba(0, 0, 0, 0.05);
  }
  .top-half {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    /* border: 1px solid #121212; */
    margin-left: 0;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.05);
  }
  .form-left-half {
    width: 95%;
  }
  .form-right-half {
    width: 95%;
  }
  .bottom-half {
    margin-top: 0;
  }
  #prepTime {
    width: 50%;
  }
  #serves {
    width: 50%;
  }
  #directions {
    margin-top: 10px;
    font-size: 1rem;
  }
  #notes {
    font-size: 1rem;
    margin-top: 10px;
  }
  .check-boxes {
    margin-top: 10px;
  }

  /* Planner Styling */
  .table-info {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 0.8rem;
    margin: 0;
  }
  .planner-name-hd {
    width: 100%;
  }
  #name-heading h1 {
    margin: auto;
    margin-left: 0;
  }
  .planner-info {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .planner-info h3 {
    min-width: 0;
    width: 130px;
  }
  .planner-info select {
    padding: 0;
    margin: 0;
  }
  .planner-btn {
    margin-top: 5px;
    width: 100%;
    height: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
  }
  .planner-btn button {
    height: 2%;
    padding: 0;
  }
  #add-planner {
    height: 2%;
  }
  #edit-recipe {
    height: 2%;
  }
  table {
    border: none;
    background-color: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  tbody {
  }
  th tr td {
    flex-wrap: wrap;
  }
  th:nth-of-type(1) {
    display: none;
  }
  td:nth-of-type(1) {
    display: none;
  }
  td:nth-of-type(2) {
    width: 320px;
    background-color: #004d40;
  }
  td:nth-of-type(3) {
    width: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .header button {
    font-size: 0.9rem;
  }
}

/* Media Queries */
@media only screen and (max-height: 750px) {
  #auth-cont {
    margin: auto;
    margin-top: 15vh;
    width: 500px;
    height: auto;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 3px 3px 9px #727070;
    border-radius: 25px;
  }

  .header {
    height: 10vh;
    padding: 0px;
  }

  .header button {
    padding: 0px 10px;
  }

  .recipe {
    height: auto;
    padding: 10px 5px;
  }
}

/* @media (max-height: 700px) */
